<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/viewStyle.css}">
    <meta charset="UTF-8" >
    <title>상세</title>


    <style>
        .body{
            margin-top:50px;
        }

        .info {
            margin-top:75px;
        }

        #button {
            margin-top:13px;
        }

        #content {
            height:150px;
        }


    </style>


</head>

<body>

<div class="p-3 mb-2 bg-light text-dark">
<header>
    <h1> project </h1>
</header>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/board/list">Home</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/board/list}" method="get" role="search">
                <input class="form-control me-2" type="text" name="searchKeyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="body">
<div class="container my-3">
    <!-- 글 -->

    <div class="card">
        <h5 class="card-header" th:text="${board.title}"> </h5>
        <div class="card-body">
            <p class="card-text" th:text="${board.content}"> </p>
            <div class="info" >
                <p><small>카테고리 : <mark th:text="${board.category}"></mark> </small></p>
                <p><small>모집 인원 : <mark th:text="${board.people}+명"></mark> </small></p>
                <p><small>프로젝트 기간 : <mark th:text="${board.startDate}"> </mark> ~ <mark th:text="${board.endDate}"> </mark> </small></p>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <a class="btn btn-outline-success" th:href = "@{/board/delete(id=${board.id})}">글 삭제</a>
            <a class="btn btn-outline-success" th:href = "@{/board/modify/{id}(id=${board.id})}">글 수정</a>
        </div>

    </div>

<!-- 답변의 갯수 표시 -->
<h6 class="border-bottom my-3 py-2"
    th:text="|${#lists.size(board.answerList)}개의 답글이 있습니다.|"></h6>
<!-- 답변 반복 시작 -->
<div class="card my-3" th:each="answer : ${board.answerList}">
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
                <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
        </div>
    </div>
</div>
<!-- 답변 반복 끝  -->
<!-- 답변 작성 -->
    <h6 class="border-bottom my-3 py-2"> 답글 등록</h6>
<form th:action="@{|/answer/writepro/|}" method="post" class="my-3" id="answerwrite">
    <input type="hidden" name="board" th:value="${board.id}">
    <textarea name="content" id="content" rows="10" class="form-control"></textarea>
    <input type="submit" value="답글 등록" class="btn btn-outline-success" id="button">
</form>
</div>
</div>

</body>

</html>